@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #BF4578;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  background: url("images/bouquest-home.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Lato", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
}

/* --------------- Nav ---------------- */
.header_home { /*home page*/
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 100px;
  z-index: 10; /* edited */
}
.nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.nav_box img {
  width: 50px;
}
.nav_menu {
    display: flex;
}
.nav_menu a {
    padding: 10px;
    text-decoration: none;
    color: var(--mainBlack); 
}
.nav_logo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  color: var(--mainBlack);
  font-size: 16px;
  text-decoration: none;
}
.nav-icon {
  font-size: 1.5rem;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}
/* --------------- End of Nav ---------------- */
/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  background: url("./images/bouquest-home.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}
.banner-title {
  font-size: 3.4rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
  font-family: 'Dancing Script', cursive;
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn a {
    text-decoration: none;
    color: var(--mainBlack);
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}
/* --------------- End of Nav/Hero ---------------- */