@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #bf4578;
  --mainWhite: #fff;
  --mainBlack: #313131;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --cursiveFont: "Dancing Script", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Myeongjo", serif;
}

body {
  min-height: 100vh;
  background: url("images/bouquest-home.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Lato", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
}

/* --------------- Nav ---------------- */
.header_home {
  /*home page*/
  width: 100%;
  background: var(--mainWhite);
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 100px;
  z-index: 10; /* edited */
}

.nav {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.nav_box_img img {
  width: 50px;
}
.nav_menu {
  display: flex;
}
.nav .links {
  list-style-type: none;
  gap: 1rem;
  text-decoration: none;
  display: flex;
}
.nav li a {
  text-decoration: none;
  color: var(--mainBlack);
}
.nav li a:hover {
  color: blue;
}
.nav .toggle_btn {
  color: var(--mainBlack);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.dropdown_menu {
  display: none;
  position: absolute;
  left: 2rem;
  top: 70px;
  width: 300px;
  height: 0;
  margin-top: 20px;
  padding-top: 0px;
  background-color: rgba(225, 225, 225, 0.1);
  /*backdrop-filter: blur(15px);*/
  background-color: var(--mainWhite);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 310px;
}
.dropdown_menu li {
  border-bottom: 1px solid var(--mainGrey);
  padding: 1.7rem;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_logo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  color: var(--mainBlack);
  font-size: 16px;
  text-decoration: none;
}
.nav-icon {
  font-size: 1.5rem;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}
/* --------------- End of Nav ---------------- */
/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  background: url("./images/bouquest-home.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}
.banner-title {
  text-align: center;
  font-size: 3.4rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1rem;
  font-family: "Nanum Myeongjo", serif;
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--mainBlack);
  color: var(--mainWhite);
  border: 1px solid var(--mainBlack);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn a {
  text-decoration: none;
  color: var(--mainWhit) e;
}
.banner-btn:hover {
  background: transparent;
}
.banner-btn a:hover {
  color: var(--mainBlack);
}
/* --------------- End of Nav/Hero ---------------- */
/* ---------------- Home Page ---------------*/
.main {
  padding: 4rem 0px;
}
.images-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.image-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.image-img:hover {
  -webkit-animation: zoomin 15s 3;
}
@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
  }
  70% {
    -webkit-transform: scale(2);
  }
}
.label {
  text-align: center;
  background-color: #c37f9b;
  position: absolute;
  bottom: 70px;
  width: 100%;
  padding: 12px;
}
.load_button {
  padding: 16px 40px;
  display: block;
  margin: 0 auto;
  margin-top: 44px;
  background-color: #313131;
  color: #ececec;
  border: none;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
}
.load_button:hover {
  background: transparent;
  color: var(--mainBlack);
  border: 1px solid var(--mainBlack);
}
.main a,
.middle_section a {
  text-decoration: none;
}

/* ---------------- End of Home Page ---------------*/
/* ---------------- Home middle section ---------------*/
.middle_section {
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}
.item {
  color: #000;
  padding: 26px;
}
.item_text {
  max-width: 400px;
  font-family: "Nanum Myeongjo", serif;
}
.item p {
  text-align: start;
  text-transform: uppercase;
  font-size: 16px;
}
.item h5 {
  font-size: 26px;
  text-align: center;
  font-weight: 20;
  margin: 50px 0 20px 0;
  text-align: start;
}
.item h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: start;
}
.item load_button {
  padding: 10px;
  background-color: var(--primaryColor);
  border: none;
  font-size: 20px;
  margin: 0 auto;
  display: block;
}
.item img {
  max-width: 300px;
  display: block;
  position: relative;
  z-index: 1;
  bottom: 30px;
  right: 80px;
}
.item video {
  position: relative;
  display: block;
  z-index: 2;
  bottom: 160px;
  left: 100px;
}
/* ---------------- End of Home middle section ---------------*/
/* ---------------- Home Last section ---------------*/
.last_section {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1rem;
}
h1 {
  text-align: center;
  padding-bottom: 5rem;
  font-size: 50px;
}
.section-stack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  text-align: center;
}
h4 {
  font-size: 30px;
}
.post {
  border: 2px solid var(--primaryColor);
  padding: 30px;
}
.section-stack .icon {
  font-size: 40px;
  margin-bottom: 7rem;
}
/* ---------------- End of Home Last section ---------------*/
/* ---------------- Home social Media Buttons ---------------*/
.social_media {
  width: 100%;
  margin: 0 auto;
  padding: 6rem 0;
}
.social_btn {
  padding: 40px 60px;
  background-color: var(--mainBlack);
  color: var(--mainGrey);
  border: none;
  transition: background-color 1s ease-out 100ms;
  cursor: pointer;
  font-size: 20px;
}
.social_btn:hover {
  background-color: #151010;
}
.buttons_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row-gap: 2rem;
  text-align: center;
}
/* ---------------- End of Home social Media Buttons ---------------*/
/* ---------------- Footer ---------------*/

footer {
  padding: 4rem 0px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
}
.footer_lists {
  display: flex;
  line-height: 40px;
}
.footer_address,
.footer_about {
  max-width: 350px;
}
.footer_about {
  cursor: pointer;
}
.footer_title {
  font-weight: bold;
  padding-bottom: 18px;
}
.footer {
  padding: 26px;
}
.subscribe {
  margin: 0 auto;
}
.input_email,
.submit_btn {
  display: block;
}
.input_email {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 12px;
}
.submit_btn {
  margin: 0 auto;
  color: #ececec;
  background-color: #313131;
  border: none;
  padding: 16px;
  cursor: pointer;
}

/* ---------------- End of Footer ---------------*/
/* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.image-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.image-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.image-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}
.products_button:hover {
  border: 1px solid #313131;
  background-color: transparent;
  color: #313131;
  transition: var(--mainTransition);
}
/* --------------- End of Products ---------------- */
/* Cart */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(239, 192, 233, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(235, 209, 232);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}
.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-content {
  padding-top: 5rem;
}

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/* End of Cart Item */

.cart-footer {
  margin-top: 4rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-family: "Nanum Myeongjo", serif;
  font-size: 30px;
}
.close-cart {
  position: absolute;
  top: 16%;
}

/*---------- Toggle Button -------------------- */

/*---------- End of Toggle Button -------------------- */

@media screen and (max-width: 768px) {
  .images-center {
    grid-template-columns: repeat(
      1,
      minmax(100px, 1fr)
    ); /* Display one image per row */
  }
  .item img {
    max-width: 350px;
    display: block;
    position: relative;
    z-index: 1;
    bottom: 70px;
    right: 80px;
  }

  .item video {
    position: relative;
    display: block;
    z-index: 2;
    bottom: 160px;
    left: 250px;
    width: 250px;
  }

}
@media screen and (max-width: 968px) {
  .middle_section {
    grid-template-columns: repeat(1, minmax(400px, 1fr));
  }
  .item_text {
    max-width: 800px;
    font-family: "Nanum Myeongjo", serif;
  }
  .item img {
    max-width: 350px;
    display: block;
    position: relative;
    z-index: 1;
    bottom: 30px;
    right: 80px;
    margin: 0 auto;
  }

}
@media (max-width: 992px) {
  .nav .links {
    display: none;
  }
  .nav .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }

}
@media (max-width: 576px) {
  .dropdown_menu {
    right: 2rem;
    width: unset;
  }
  .nav_logo {
    font-size: 15px;
  }
  .footer_lists {
    display: block;
  }
@media (max-width: 480px) {
    .item img {
    max-width: 250px;
    display: block;
    position: relative;
    z-index: 1;
    bottom: 30px;
    right: 80px;
    margin: 0 auto;
  }
    .item video {
    position: relative;
    display: block;
    z-index: 2;
    bottom: 260px;
    left: 180px;
    width: 210px;
  }
}
}/*
@media (max-width: 526px) {
  .item video {
    position: relative;
    display: block;
    z-index: 2;
    bottom: 160px;
    left: 150px;
    width: 250px;
  }
}
*/